board{ font-size:12px; font-family:sans-serif; }
#content{ width:800px; margin:50px auto; }
#content table{ border-collapse: collapse; width: 800px; border:1px solid black;}
#content table th{padding:5px; background-color:#dddddd; border: 1px dotted gray;}
#content table td{padding:5px; border:1px dotted gray;}
.button{padding: 5px 0; background-color:#778899; border:1px solid gray;}
.button a{ padding:0 10px; text-display: none; color:white; }
.error-text{ color:red; }
.error-border{ border: 1px solid red; }
a{ text-decoration:none; color:black; }
.small{ font-size: 10px; color:gray; }
img{ border:none; }